*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* vari치veis servem para colocar c칩digos e reutilizar estes*/
  --bg-color: #edf2ff;
  --text-color: #00082F;
  --primary-color: #4263EB;
  --primary-color-dark: #364FC7; 
}

body.dark-blue{
  --bg-color: #00082F;
  --text-color: #edf2ff;  
}

body.pink{
  --bg-color: #FFFBF8;
  --text-color: #1F000B;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

body.dark-pink{
  --bg-color: #1F000B;
  --text-color: #FFF0F699;
  --primary-color: #D6336C;
  --primary-color-dark: #A61E4D;
}

a{
  text-decoration: none;
}

body{
  /*background: #edf2ff;*/
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img{
  width: 100%; 
  /*100% significa que sempre ir치 seguir o tamanho da caixa em que a imagem est치*/  
}

img.avatar{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: var(--primary-color) solid 4px;
}

h1{
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username{
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;  
  opacity: 0.8;
  font-size: 18px;
}

ul{
  list-style: none;
  margin: 48px 0;
}

ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
}

ul li a:hover{
  background: var(--primary-color-dark);
  transition: background 400ms;
}

footer{
  font-weight: 500;
  font-size: 12px;  
  opacity: 0.6;
}

footer:hover{
  opacity: 1;
}

footer a{
  color: var(--primary-color);
}

